doctype html
html
    head
        title Menu
    body
        h1 Menu
        ul
            li
                a(href="/") Home
            li
                a(href="/students") View Students
            li
                a(href="/compute-total-marks") Compute Total Marks
            li
                a(href="/compute-percentage") Compute Percentage
            li
                a(href="/delete-zero-marks") Delete Zero Marks
            li
                a(href="/top-c-students") Top C Students
            li
                a(href="/merit-list") Merit List
            li
                a(href="/grace-marks-form") Apply Grace Marks
            li
                a(href="/search-form") Search Student
            li
                a(href="/top-students-form") Top Students